```html
{% extends "base.html" %}

{% block title %}
Admin Login | Chary Scents
{% endblock %}


{% block content %}

<section class="page-header">

    <div class="container">

        <p>CHARY SCENTS</p>

        <h1>
            Admin Login
        </h1>

    </div>

</section>


<section class="section">

    <div class="container">

        <div class="row justify-content-center">

            <div class="col-md-6 col-lg-5">

                <div class="contact-form">

                    <h3 class="mb-4">
                        Admin Login
                    </h3>


                    {% if error %}

                    <div class="alert alert-danger">
                        {{ error }}
                    </div>

                    {% endif %}


                    <form
                        action="{{ url_for('admin_login') }}"
                        method="POST"
                    >

                        <label for="username">
                            Username
                        </label>

                        <input
                            type="text"
                            id="username"
                            name="username"
                            placeholder="Enter admin username"
                            required
                        >


                        <label for="password">
                            Password
                        </label>

                        <input
                            type="password"
                            id="password"
                            name="password"
                            placeholder="Enter admin password"
                            required
                        >


                        <button
                            type="submit"
                            class="btn btn-main w-100"
                        >
                            <i class="bi bi-box-arrow-in-right"></i>
                            Login
                        </button>

                    </form>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}
```
